@import '/src/scss/variables.scss';

// @file
// Quizzes

// .quiz-list {}

.quiz-list__list {
  @include list-clean();
}

.quiz-list__item {
  align-items: center;
  display: flex;
  border-bottom: solid 1px $gray-2;
  font-family: $font-size-md;
  font-weight: 700;
  justify-content: space-between;
  overflow: hidden;
  padding: $spacing-2 !important;

  &:not(:first-child) {
    margin: $spacing-2 0;
  }
}

.quiz-list__link {
  background-color: $magenta;
  border-radius: 10px;
  color: $white;
  display: inline-block;
  flex-basis: 120px;
  font-size: $font-size-sm;
  padding: $spacing-1 0;
  text-align: center;
  text-decoration: none;

  &:visited {
    color: $white;
  }

  &:hover,
  &:focus {
    background-color: $pink;
    color: $blue;
  }
}
