@import '/src/scss/variables.scss';

// @file
// Lesson Tabs

.questions__list {
  @include list-clean();
}

.questions__item {
  align-items: center;
  display: flex;
  border-bottom: solid 1px $gray-2;
  font-family: $font-size-md;
  font-weight: 700;
  justify-content: space-between;
  overflow: hidden;
  padding: $spacing-2 !important;

  &:not(:first-child) {
    margin: $spacing-2 0;
  }
}
