@import '/src/scss/variables.scss';

// @file
// Course Table

.course-table {
    border: solid 1px $gray-1;
    border-collapse: collapse;
    width: 100%;
}

.course-table__head {
    background-color: $pink;

    th {
        padding: 0 $spacing-2;
    }
}