@import '/src/scss/variables.scss';

// @file
// Course editor

.list-modules {
    @include list-clean;

    border: solid 1px $gray-2;
    border-radius: 5px;
}

.list-modules__item {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: $spacing-2 !important;
    font-weight: 700;

    &:not(:last-child) {
        border-bottom: solid 1px $gray-2;
    }
}

.btn {
    @include button-clear;
    @include image-replace(rem(30px), rem(30px));

    background-position: center;
    background-repeat: no-repeat;
    background-size: rem(20px);
    margin-left: $spacing-1;

    @include bp-tablet {
        background-size: rem(25px);
    }
}

.btn-edit {
    @include svg-background(icon-edit);
}

.btn-add {
    @include image-replace(rem(30px), rem(30px));
    @include svg-background(icon-add);

    background-color: $magenta;
    background-size: rem(17px);
    border-radius: 100%;
}

.nav-editor {
    @include list-inline;

    font-size: $font-size-sm;
    margin: 0 0 $spacing-1;
}

.nav-editor__item {
    align-items: center;
    border: solid 1px $gray-2;
    border-radius: 10px 10px 0 0;
    display: inline-flex !important;
    justify-content: space-between;
    padding: $spacing-2 !important;

    a {
        text-decoration: none;
    }
}