@import '/src/scss/variables.scss';

// @file
// Course editor

.module-list__list {
  @include list-clean();

  border: solid 1px $gray-2;
  border-radius: 10px;
}

.module-list__item {
  border-bottom: solid 1px $gray-2;
  padding: $spacing-1 $spacing-2 !important;

  &:last-child {
    padding-bottom: $spacing-2 !important;
    padding-top: $spacing-2 !important;
    border-bottom: 0;
  }

  .editable-item {
    width: 100%;
  }

  .editable-item__title {
    font-size: $base-font-size;
  }
}