@import '/src/scss/variables.scss';

// @file
// Grid card

.grid-card {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 10px;
  font-size: $font-size-sm;
  min-height: rem(300px);
  overflow: hidden;
  padding: rem(220px) $spacing-2 $spacing-3;
  position: relative;

  p {
    margin: 0;
  }

  &[data-is-editing='true'] {
    background-color: $pink !important;
  }

  &:nth-child(3n+1) {
    .grid-card__image {
      background-image: url('../../images/bg-2.jpeg');
    }
  }

  &:nth-child(3n+2) {
    .grid-card__image {
      background-image: url('../../images/bg-3.jpeg');
    }
  }
}

.grid-card__title {
  font-size: $base-font-size;

  a {
    text-decoration: none;
  }
}

.grid-card__image {
  background-image: url('../../images/bg-1.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  height: rem(200px);
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;

  &::after {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.9), transparent);
    content: '';
    display: block;
    height: rem(200px);
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
}

.grid-card__input {
  border: 0;
  border: solid 1px $lilac;
  box-shadow: none;
  font-family: $base-font-family;
  font-size: $base-font-size;
  font-weight: 700;
  height: rem(52px);
  margin-bottom: 0.5em;
  padding-left: $spacing-1;
  width: 100%;

  &:focus {
    outline: none;
  }
}

.grid-card__controls {
  position: absolute;
  right: $spacing-1;
  text-align: right;
  top: $spacing-1;
  width: rem(60px);
}

.grid-card__btn {
  @include button-icon(rem(30px), icon-add);
}

.grid-card__btn--edit {
  @include svg-background(icon-edit-white);

  background-color: transparent;
}

.grid-card__btn--delete {
  @include svg-background(icon-delete-magenta);

  background-color: transparent;
}

.grid-card__btn--okay {
  @include svg-background(icon-okay);

  background-color: transparent;
}