@import '/src/scss/variables.scss';

// @file
// Table row

.table-row__btn {
  @include button-clear;
  @include image-replace(rem(30px), rem(30px));

  background-position: center;
  background-repeat: no-repeat;
  background-size: rem(20px);

  @include bp-tablet {
    background-size: rem(25px);
  }
}

.table-row__btn--edit {
  @include svg-background(icon-edit);
}

.table-row__btn--delete {
  @include svg-background(icon-delete);
}

.table-row__btn--okay {
  @include svg-background(icon-okay);
}