// @file
// Colors

$black: #212121;
$white: #ffffff;
$gray-1: #ececec;
$gray-2:#CCCCCC;
$gray-4: #666;
$gray-5: #333;

// Brand colors
$blue: #283c63;
$lilac: #928a97;
$pink: #fbe8d3;
$magenta: #f85f73;