@import '/src/scss/variables.scss';

// @file
// Table row

.table-row {
  &[data-is-editing='true'] {
    background-color: $lilac !important;
    color: $white;
  }
}

.table-row__title {
  font-size: $base-font-size;
  margin: 0;

  a {
    text-decoration: none;
  }
}

.table-row__btn {
  @include button-clear;
  @include image-replace(rem(30px), rem(30px));

  background-position: center;
  background-repeat: no-repeat;
  background-size: rem(20px);

  @include bp-tablet {
    background-size: rem(25px);
  }
}

.table-row__btn--edit {
  @include svg-background(icon-edit);

  background-color: transparent;
}

.table-row__btn--delete {
  @include svg-background(icon-delete);
}

.table-row__btn--okay {
  @include svg-background(icon-okay);
}

.table-row__input {
  border: 0;
  border: solid 1px $lilac;
  box-shadow: none;
  font-family: $base-font-family;
  font-size: $base-font-size;
  height: rem(52px);
  margin-left: -19px;
  padding-left: $spacing-2;
  width: 100%;

  &:focus {
    outline: none;
  }
}

.table-row__quiz {
  font-size: $font-size-sm;
}